<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Stunning Octo Pancake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
  </head>
    
  <body>
    <%= yield %>
    <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key= <%= ENV["GOOGLE_MAPS_API_KEY"] %>"></script>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
